# Core
opencv-python>=4.9.0
numpy>=1.26.0
mediapipe>=0.10.9

# Anti-spoofing
uniface>=3.0.0

# Image analysis
scikit-image>=0.22.0
scipy>=1.12.0

# Configuration
pyyaml>=6.0.1

# Logging
python-json-logger>=2.0.7
